{
   "client": {
      "name": "{{ sensu_client_hostname }}",
      "address": "{{ sensu_client_address }}",
{% if sensu_client_attributes is defined %}
{% for item,value in sensu_client_attributes.iteritems() %}
      "{{ item }}": {{ value | to_json }},
{% endfor %}
{% endif %}
{% if sensu_client_attributes_redact is defined %}
      "redact": [ "{{ "\",\"".join(sensu_client_attributes_redact) }}" ],
{% endif %}
      "subscriptions": [ "{{ "\",\"".join(sensu_client_subscription_names) }}" ]
   }
}
