{
  "rabbitmq": {
    "ssl": {
      "private_key_file": "/etc/sensu/ssl/client_key.pem",
      "cert_chain_file": "/etc/sensu/ssl/client_cert.pem"
    },
    "port": {{ sensu_server_rabbitmq_port }},
    "host": "{{ sensu_server_rabbitmq_hostname }}",
    "user": "{{ sensu_server_rabbitmq_user }}",
    "password": "{{sensu_server_rabbitmq_password}}",
    "vhost": "sensu"
  }
{% if sensu_install_server %}
  ,
  "redis": {
    "host": "{{ sensu_server_redis_host }}",
    "port": 6379
  },
  "api": {
    "host": "{{ sensu_server_api_host }}",
    "port": 4567
  },
  "dashboard": {
    "host": "{{ sensu_server_dashboard_host }}",
    "port": 8080,
    "user": "admin",
    "password": "{{ sensu_server_dashboard_password }}"
  }
{% endif %}
}
